@import './vars.scss';
@import './material.scss';
@import './create-form.scss';
@import './login-register-form.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './responsive.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(35,101,210);
    background-image: radial-gradient(at 50% bottom, $main-blue 0%, $main-color 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment: fixed;

    // width: 100vw;

    // overflow: hidden;
    // background-color: $black;
    &::-webkit-scrollbar {
        display: none;
    }
}
#toast-container>div{
    box-shadow: none !important;
}
.hide-item{
    display: none !important;
}
.context-menu{
    position: fixed;
    width: 13.313rem;
    color: $white;
    overflow: hidden;
    z-index: 103099;
    top: 1rem;
    .option{
        height: 1.875rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 0.313rem 0.625rem;
        transition: .2s;
        user-select: none;
        
        cursor: pointer;
        .dark{
            color: $main-color;
        }
        .warning{
            color: $warning-orange;
        }
        .blue{
            color: $main-blue;
        }
        .error{
            color: $error-red;
        }
        &:hover{
            color: $main-color;
            background: white;
        }
    }
}

.glass-container{
    background: rgba($color: $white, $alpha: .5);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    min-height: 3rem;
    min-width: 4rem;
}
.warning{
    color: $warning-orange;
}
.success{
    color: $success-green;
}
.error{
    color: $error-red;
}
.main-container{

    width: 100%;
    height: 100%;
    padding: 1.875rem;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

}
.day{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    margin-bottom: 1.75rem;
    .header{
        margin-bottom: 1rem;
        color: $white;
        .date{
            color: $main-blue;
        }
    }
    .activities{
        padding-left: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.activity{
    
    padding: 1rem;
    position: relative;
    min-width: 16.875rem;
    min-height: 9.75rem;
    font-size: 1.125rem;
    color: $white;
    margin-right: 1.25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:not(:hover){
        .delete-button{
            opacity: 0;
        }
    }
    .delete-button{
        transition: all .25s;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        left: unset !important;
        cursor: pointer;
        user-select: none;
        font-size: 1.8rem;
    }
    .title{
        margin-bottom: 1rem;
    }
    .icon{
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        font-size: 2.5rem;
    }
}

