@import './material.scss';

$purple-1: #A52297;
$purple-2: #321950;
$main-color: #111949;
$pink-1: #F93E9F;
$main-blue: #2365D2;
$black: black;
$white: white;
$success-green: #00FF75;
$warning-orange: #FFA800;
$main-color-rgb: rgb(17, 25, 73);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(35,101,210);
    background-image: radial-gradient(at 50% bottom, $main-blue 0%, $main-color 80%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment: fixed;

    // width: 100vw;

    // overflow: hidden;
    // background-color: $black;
    &::-webkit-scrollbar {
        display: none;
    }
}
.glass-container{
    background: rgba($color: $white, $alpha: .5);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    min-height: 3rem;
    min-width: 4rem;
}
.warning{
    color: $warning-orange;
}
.success{
    color: $success-green;
}
.main-container{

    width: 100%;
    height: 100%;
    padding: 1.875rem;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

}
.day{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    margin-bottom: 1.75rem;
    .header{
        margin-bottom: 1rem;
        color: $white;
        .date{
            color: $main-blue;
        }
    }
    .activities{
        padding-left: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.activity{
    
    padding: 1rem;
    position: relative;
    min-width: 16.875rem;
    min-height: 9.75rem;
    font-size: 1.125rem;
    color: $white;
    margin-right: 1.25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title{
        margin-bottom: 1rem;
    }
    .icon{
        position: absolute;
        top: 0.75rem;
        left: 0.75rem;
        font-size: 2.5rem;
    }
}

