
$purple-1: #A52297;
$purple-2: #321950;
$main-color: #111949;
$pink-1: #F93E9F;
$main-blue: #2365D2;
$black: black;
$white: white;
$success-green: #00FF75;
$warning-orange: #FFA800;
$error-red: #A52222;
$main-color-rgb: rgb(17, 25, 73);